body {
    font-family: Arial;
    max-width: 400px;
    margin: auto;
    padding: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea, select, button {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
}

button {
    margin-top: 15px;
    background: #2c7be5;
    color: white;
    border: none;
    font-size: 16px;
}
